* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    font-size: small;
}

.main-box {
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn-one i {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.sidebar-menu {
    position: absolute;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(225, 225, 225, 0.1);
    box-shadow: 0 0 4px rgb(225, 225, 225, 0.5);
    transition: left 0.3s ease;
}

.sidebar-menu .logo {
    position: absolute;
    left: 50px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
}

.sidebar-menu .logo .titless{
    font-size: 25px;
    font-weight: 500;
    color: gainsboro;
    transition: all 0.3s linear;
}

.sidebar-menu .btn-two {
    color: grey;
    font-size: 35px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    /*opacity: 1;*/
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar-menu .menu {
    position: absolute;
    width: 100%;
    top: 70px;
}

.sidebar-menu .menu li {
    margin-top: 4px;
    padding: 10px 15px;
}

.sidebar-menu .menu i, a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
}

.sidebar-menu .menu i {
    padding-right: 8px;
    align-items: center;
    font-size: 25px;
}

.sidebar-menu .social-media {
    position: absolute;
    left: 25%;
    bottom: 30px;
}

.sidebar-menu .social-media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

.sidebar-menu .social-media i:hover{
    opacity: 1;
    transition: all 0.2s;
}
#check {
    display: none;
}

.sidebar-menu .menu li:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar-menu{
    left: 0;
}

#check:checked ~ .btn-one i {
    opacity: 0;
}

#check:checked ~ .sidebar-menu .btn-two i {
    opacity: 1;
}